# Linear Regression

## 1. 데이터 불러오기
* 데이터 정보:

In [2]:
import pandas as pd

data = pd.read_csv('data/bikeshare.csv')
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

## 2. 데이터 탐색 및 전처리

In [7]:
# year와 month를 추출
datetime = pd.DatetimeIndex(data['datetime'])
data['year'] = datetime.year
data['month'] = datetime.month
data['hour'] = datetime.hour
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,4

In [9]:
data.shape

(10886, 15)

In [10]:
data.dtypes

datetime       object
season          int64
holiday         int64
workingday      int64
weather         int64
temp          float64
atemp         float64
humidity        int64
windspeed     float64
casual          int64
registered      int64
count           int64
year            int64
month           int64
hour            int64
dtype: object

In [11]:
data.count

<bound method DataFrame.count of                   datetime  season  holiday  workingday  weather   temp  \
0      2011-01-01 00:00:00       1        0           0        1   9.84
1      2011-01-01 01:00:00       1        0           0        1   9.02
2      2011-01-01 02:00:00       1        0           0        1   9.02
3      2011-01-01 03:00:00       1        0           0        1   9.84
4      2011-01-01 04:00:00       1        0           0        1   9.84
5      2011-01-01 05:00:00       1        0           0        2   9.84
6      2011-01-01 06:00:00       1        0           0        1   9.02
7      2011-01-01 07:00:00       1        0           0        1   8.20
8      2011-01-01 08:00:00       1        0           0        1   9.84
9      2011-01-01 09:00:00       1        0           0        1  13.12
10     2011-01-01 10:00:00       1        0           0        1  15.58
11     2011-01-01 11:00:00       1        0           0        1  14.76
12     2011-01-01 12:00:00       1        0           0        1  17.22
13     2011-01-01 13:00:00       1        0           0        2  18.86
14     2011-01-01 14:00:00       1        0           0        2  18.86
15     2011-01-01 15:00:00       1        0           0        2  18.04
16     2011-01-01 16:00:00       1        0           0        2  17.22
17     2011-01-01 17:00:00       1        0           0        2  18.04
18     2011-01-01 18:00:00       1        0           0        3  17.22
19     2011-01-01 19:00:00       1        0           0        3  17.22
20     2011-01-01 20:00:00       1        0           0        2  16.40
21     2011-01-01 21:00:00       1        0           0        2  16.40
22     2011-01-01 22:00:00       1        0           0        2  16.40
23     2011-01-01 23:00:00       1        0           0        2  18.86
24     2011-01-02 00:00:00       1        0           0        2  18.86
25     2011-01-02 01:00:00       1        0           0        2  18.04
26     2011-01-02 02:00:00       1        0           0        2  17.22
27     2011-01-02 03:00:00       1        0           0        2  18.86
28     2011-01-02 04:00:00       1        0           0        2  18.86
29     2011-01-02 06:00:00       1        0           0        3  17.22
...                    ...     ...      ...         ...      ...    ...
10856  2012-12-18 18:00:00       4        0           1        1  15.58
10857  2012-12-18 19:00:00       4        0           1        1  15.58
10858  2012-12-18 20:00:00       4        0           1        1  14.76
10859  2012-12-18 21:00:00       4        0           1        1  14.76
10860  2012-12-18 22:00:00       4        0           1        1  13.94
10861  2012-12-18 23:00:00       4        0           1        1  13.94
10862  2012-12-19 00:00:00       4        0           1        1  12.30
10863  2012-12-19 01:00:00       4        0           1        1  12.30
10864  2012-12-19 02:00:00       4        0           1        1  11.48
10865  2012-12-19 03:00:00       4        0           1        1  10.66
10866  2012-12-19 04:00:00       4        0           1        1   9.84
10867  2012-12-19 05:00:00       4        0           1        1  10.66
10868  2012-12-19 06:00:00       4        0           1        1   9.84
10869  2012-12-19 07:00:00       4        0           1        1  10.66
10870  2012-12-19 08:00:00       4        0           1        1   9.84
10871  2012-12-19 09:00:00       4        0           1        1  11.48
10872  2012-12-19 10:00:00       4        0           1        1  13.12
10873  2012-12-19 11:00:00       4        0           1        1  16.40
10874  2012-12-19 12:00:00       4        0           1        1  16.40
10875  2012-12-19 13:00:00       4        0           1        1  17.22
10876  2012-12-19 14:00:00       4        0           1        1  17.22
10877  2012-12-19 15:00:00       4        0           1        1  17.22
10878  2012-12-19 16:00:00       4        0           1        1  17.22
10879  2012-12-19 17:00:00       4        0           1        1  16.40
10880  2012-12-19 18:00:00       4        0           1        1  15.58
10881  2012-12-19 19:00:00       4        0           1        1  15.58
10882  2012-12-19 20:00:00       4        0           1        1  14.76
10883  2012-12-19 21:00:00       4        0           1        1  13.94
10884  2012-12-19 22:00:00       4        0           1        1  13.94
10885  2012-12-19 23:00:00       4        0           1        1  13.12

        atemp  humidity  windspeed  casual  registered  count  year  month  \
0      14.395        81     0.0000       3          13     16  2011      1
1      13.635        80     0.0000       8          32     40  2011      1
2      13.635        80     0.0000       5          27     32  2011      1
3      14.395        75     0.0000       3          10     13  2011      1
4      14.395        75     0.0000       0           1      1  2011      1
5      12.880        75     6.0032       0           1      1  2011      1
6      13.635        80     0.0000       2           0      2  2011      1
7      12.880        86     0.0000       1           2      3  2011      1
8      14.395        75     0.0000       1           7      8  2011      1
9      17.425        76     0.0000       8           6     14  2011      1
10     19.695        76    16.9979      12          24     36  2011      1
11     16.665        81    19.0012      26          30     56  2011      1
12     21.210        77    19.0012      29          55     84  2011      1
13     22.725        72    19.9995      47          47     94  2011      1
14     22.725        72    19.0012      35          71    106  2011      1
15     21.970        77    19.9995      40          70    110  2011      1
16     21.210        82    19.9995      41          52     93  2011      1
17     21.970        82    19.0012      15          52     67  2011      1
18     21.210        88    16.9979       9          26     35  2011      1
19     21.210        88    16.9979       6          31     37  2011      1
20     20.455        87    16.9979      11          25     36  2011      1
21     20.455        87    12.9980       3          31     34  2011      1
22     20.455        94    15.0013      11          17     28  2011      1
23     22.725        88    19.9995      15          24     39  2011      1
24     22.725        88    19.9995       4          13     17  2011      1
25     21.970        94    16.9979       1          16     17  2011      1
26     21.210       100    19.0012       1           8      9  2011      1
27     22.725        94    12.9980       2           4      6  2011      1
28     22.725        94    12.9980       2           1      3  2011      1
29     21.210        77    19.9995       0           2      2  2011      1
...       ...       ...        ...     ...         ...    ...   ...    ...
10856  19.695        46    22.0028      13         512    525  2012     12
10857  19.695        46    26.0027      19         334    353  2012     12
10858  16.665        50    16.9979       4         264    268  2012     12
10859  17.425        50    15.0013       9         159    168  2012     12
10860  16.665        49     0.0000       5         127    132  2012     12
10861  17.425        49     6.0032       1          80     81  2012     12
10862  15.910        61     0.0000       6          35     41  2012     12
10863  15.910        65     6.0032       1          14     15  2012     12
10864  15.150        65     6.0032       1           2      3  2012     12
10865  13.635        75     8.9981       0           5      5  2012     12
10866  12.120        75     8.9981       1           6      7  2012     12
10867  14.395        75     6.0032       2          29     31  2012     12
10868  12.880        75     6.0032       3         109    112  2012     12
10869  13.635        75     8.9981       3         360    363  2012     12
10870  12.880        87     7.0015      13         665    678  2012     12
10871  14.395        75     7.0015       8         309    317  2012     12
10872  16.665        70     7.0015      17         147    164  2012     12
10873  20.455        54    15.0013      31         169    200  2012     12
10874  20.455        54    19.0012      33         203    236  2012     12
10875  21.210        50    12.9980      30         183    213  2012     12
10876  21.210        50    12.9980      33         185    218  2012     12
10877  21.210        50    19.0012      28         209    237  2012     12
10878  21.210        50    23.9994      37         297    334  2012     12
10879  20.455        50    26.0027      26         536    562  2012     12
10880  19.695        50    23.9994      23         546    569  2012     12
10881  19.695        50    26.0027       7         329    336  2012     12
10882  17.425        57    15.0013      10         231    241  2012     12
10883  15.910        61    15.0013       4         164    168  2012     12
10884  17.425        61     6.0032      12         117    129  2012     12
10885  16.665        66     8.9981       4          84     88  2012     12

       hour
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19
20       20
21       21
22       22
23       23
24        0
25        1
26        2
27        3
28        4
29        6
...     ...
10856    18
10857    19
10858    20
10859    21
10860    22
10861    23
10862     0
10863     1
10864     2
10865     3
10866     4
10867     5
10868     6
10869     7
10870     8
10871     9
10872    10
10873    11
10874    12
10875    13
10876    14
10877    15
10878    16
10879    17
10880    18
10881    19
10882    20
10883    21
10884    22
10885    23

[10886 rows x 15 columns]>

In [12]:
data['count']

0         16
1         40
2         32
3         13
4          1
5          1
6          2
7          3
8          8
9         14
10        36
11        56
12        84
13        94
14       106
15       110
16        93
17        67
18        35
19        37
20        36
21        34
22        28
23        39
24        17
25        17
26         9
27         6
28         3
29         2
        ...
10856    525
10857    353
10858    268
10859    168
10860    132
10861     81
10862     41
10863     15
10864      3
10865      5
10866      7
10867     31
10868    112
10869    363
10870    678
10871    317
10872    164
10873    200
10874    236
10875    213
10876    218
10877    237
10878    334
10879    562
10880    569
10881    336
10882    241
10883    168
10884    129
10885     88
Name: count, Length: 10886, dtype: int64